# Setting the npm registry to the official npm registry
#registry=https://registry.npmjs.org/

# Automatically save dependencies when you install them
#save=true

# Enable package-lock.json file creation
#package-lock=true

# Enforce strict peer dependency checking
#strict-peer-deps=true

# Authentication token for private packages
#//registry.npmjs.org/:_authToken=your-auth-token
